.sidebar {
    flex: 1;
    height: calc(100vh -50px);
    background-color: rgb(217, 225, 247);
    position: sticky;
    top: 50px;
}
.sidebarWrapper {
    padding: 20px;
    color: #555;
}
.sidebarMenu {
    margin-bottom: 10px;
}
.sideBarTitle {
    font-size: 13px;
    color: rgb(172, 171, 171);
}
.sidebarList {
    list-style: none;
    padding: 5px;
}
.sideBarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sideBarListItem.active,
.sideBarListItem:hover {
    background-color: rgb(181, 201, 238);
}
.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}
